<p> <%=link_to "Add job seeker", new_jobseeker_path %> </p>
<p> <%=link_to "Show employees (you can add new employees by creating new accounts)", employees_path %> </p>
<p> <%=link_to "Show job seekers", jobseekers_path %> </p>
<p> <%=link_to "Show Computer Software job seekers", jobseekers_CSindex_path %> </p>


<% if employee_signed_in? %>
	<li>
		<%= link_to('Logout', destroy_employee_session_path, :method => :delete) %>
	</li>
	<% else %>
	<li>
		<%= link_to('Login', new_employee_session_path) %>
	</li>
<% end %>