<table>
	<tr>
		<td>name</td>
		<td>category</td>
		<td>email</td>
	</tr>
	<% @jobseekers.each do |jobseeker| %>
	<tr>
		<td><%= jobseeker.name %></td>
		<td><%= jobseeker.category %></td>
		<td><%= jobseeker.email %></td>
	</tr>
	<% end %>
</table>
<p> <%=link_to "Add more jobseekers", new_jobseeker_path %> </p>
<p> <%=link_to "Go to home page", root_path %> </p>